# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
#*.so
#*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
#*.lai
#*.la
#*.a
#*.lib

# Executables
*.exe
*.out
*.app
.vs
Base/x64
Launcher/x64
RenderModule/x64
x64

Launcher/imgui.ini
cmake-build-debug/
.idea/
cmake-build-debug-mingw/
cmake-build-release-visual-studio/
cmake-build-debug-visual-studio/
